CREATE TABLE public.handbook_stories (
    id uuid primary key default gen_random_uuid(),
    organization_id uuid not null references public.organizations(id) on delete cascade,
    location_id uuid references public.locations(id) on delete cascade,
    title text not null,
    image_url text,
    content_bullets text,
    created_at timestamptz not null default now()
);
